<a href="https://colab.research.google.com/github/dibiye2010/MyAweRepo2/blob/master/What_are_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# functions are collection of intructions
# functions are collection of code
def function1 ():
    print("python1")
    print("python2")
print("this is an outside funtion")

this is an outside funtion

In [2]:
function1()

python1
python2

In [3]:
function1()
function1()

python1
python2
python1
python2

In [5]:
#mapping
# input or argument
# mapping 1 argument to a return value
def function2(x):
    return 2*x

In [7]:
a = function2(3) #return value or output

In [8]:
print(a)

6

In [9]:
# multiple arguments in a single function
def function3(x, y):
    return x + y

In [10]:
b = function3(5, 3)

In [11]:
print(b)

8

In [12]:
#combining collection of codes and mapping
def function4(x):
    print(x) #will print x
    print("still winning") #the string will be also be printed
    return 3*x

In [13]:
f = function4(4)

4
still winning

In [14]:
print(f)

12

In [16]:
def function5(some_arguments):
    print(some_arguments)
    print("you will be ok")

In [18]:
function5(4)

4
you will be ok

In [21]:
#bmi calculator using functions
name = "Dicha"
weight_kg = 82
height_m = 1.7

name1 = "Cynthia"
weight_kg1 = 60
height_m1 = 1.65

name2 = "Gysel"
weight_kg2 = 50
height_m2 = 1.55

In [25]:
def bmi_calculator(name, weight_kg, height_m):
    bmi = weight_kg / (height_m ** 2)
    print("bmi ")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight" #concatenate 2 strings
    else:
        return name + " is overweight"

In [26]:
result = bmi_calculator(name, weight_kg, height_m)
result1 = bmi_calculator(name1, weight_kg1, height_m1)
result2 = bmi_calculator(name2, weight_kg2, height_m2)

bmi
28.373702422145332
bmi
22.03856749311295
bmi
20.811654526534856

In [27]:
print(result)
print(result1)
print(result2)

Dicha is overweight
Cynthia is not overweight
Gysel is not overweight

In [30]:
def km_conversion(miles):
    km = 1.6 * miles
    print("km: ")
    print(km)

In [31]:
km_conversion(5)

km:
8.0

In [32]:
def km_conversion2(miles):
    return 1.6 * miles

In [33]:
print(km_conversion2(5))

8.0